.non-editable {
}

.non-editable:hover {
  cursor: no-drop;
}

.input-text {
  align-self: stretch;
  min-height: 25rem;
  font-size: 1.8rem;
  border: none;
  outline-color: #66a80f;
}

.input-label {
  font-size: 1.8rem;
  text-transform: capitalize;
  font-weight: 600;
  color: #e67700;
  /* color: #343a40; */
}

.invalid-content {
  outline: none;
  border: solid 0.5rem #e03131;
  background-color: #ffc9c9;
}
